# 03. Exploratory Data Analysis

## Objectives

- Perform exploratory analysis of the cleaned tabular dataset
- Generate descriptive statistics and visual summaries of language proficiency scores
- Identify correlations and relationships between different test components
- Highlight trends, anomalies, and patterns relevant to CEFR classification and modelling

## Inputs

- Cleaned dataset from the Data Cleaning phase (data/processed/lang_proficiency_results.csv)
- Python libraries: pandas, numpy, matplotlib, seaborn, pandas_profiling (optional)

## Outputs

- Pandas profiling report or equivalent descriptive overview
- Correlation analysis (correlation heatmap, pair plots, or PPS study)
- Visualisations of score distributions, relationships, and CEFR class balance
- Written insights to inform feature engineering and modelling steps


## Additional information

- All plots will be interpreted in context with the business requirements
- Correlations and visual insights will help define predictive features for ML
- Any unusual patterns identified here may prompt refinement of cleaning or feature engineering

---

# Project Directory Structure

## Change working directory

We need to change the working directory from its current folder to the folder the code of this project is currently located

In [3]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\husse\\OneDrive\\Projects\\lang-level-pred\\jupyter_notebooks'

In [4]:
from pathlib import Path

# swtich to project root directory
project_root = Path.cwd().parent
os.chdir(project_root)
print(f"Working directory: {os.getcwd()}")

Working directory: c:\Users\husse\OneDrive\Projects\lang-level-pred

---

# Data loading and basic exploration
This code block imports fundamental Python libraries for data analysis and visualization and checks their versions

- pandas: For data manipulation and analysis
- numpy: For numerical computations
- matplotlib: For creating visualizations and plots

The version checks help ensure:
- Code compatibility across different environments
- Reproducibility of analysis
- Easy debugging of version-specific issues

In [5]:
# Import data analysis tools
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt


print(f"pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")
print(f"matplotlib version: {matplotlib.__version__}")

pandas version: 2.3.1
NumPy version: 2.3.1
matplotlib version: 3.10.5

### List Files and Folders
- This code shows what files and folders are in our data/clean folder and what folder we are currently in.

In [6]:
import os
from pathlib import Path

dataset_dir = Path("data/clean")
print(f"[INFO] Files/folders available in {dataset_dir}:")
os.listdir(dataset_dir)

[INFO] Files/folders available in data\clean:

['cleaned_lang_proficiency_results.csv']

## Load dataset
This code loads the dataset from the data/clean folder that is then displayed in the dataframe.

In [7]:
import pandas as pd
from pathlib import Path

# Define the path to the CSV file
file_path = Path("data/clean/cleaned_lang_proficiency_results.csv")

# Read the CSV file
df = pd.read_csv(file_path)

---

## 1. Dataset Overview
Before diving into detailed analysis, we first generate a high-level overview of the dataset.  
This includes:
- The number of rows and columns.  
- A summary of missing values and duplicate entries (to validate cleaning).  
- Descriptive statistics for numerical columns.

This step ensures that the dataset is consistent, clean, and ready for deeper exploratory analysis.

In [21]:
# Basic dataset info
print("Shape of dataset:", df.shape)
print("\nData types and non-null counts:")
display(df.info())
print("\n")

# Quick look at the first few rows
display(df.head())
print("\n")

# Summary statistics
display(df.describe())
print("\n")

# Missing values summary
print("\nMissing values per column:")
display(df.isna().sum())

# Duplicate check
print("\nNumber of duplicate rows:", df.duplicated().sum())

Shape of dataset: (1004, 5)

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   speaking_score   1004 non-null   int64
 1   reading_score    1004 non-null   int64
 2   listening_score  1004 non-null   int64
 3   writing_score    1004 non-null   int64
 4   overall_cefr     1004 non-null   object
dtypes: int64(4), object(1)
memory usage: 39.3+ KB

None

   speaking_score  reading_score  listening_score  writing_score overall_cefr
0              24             38               30             34           A1
1              93             91               90             89           C1
2              62             64               64             55           B1
3              63             59               54             54           B1
4              79             74               85             79           B2

       speaking_score  reading_score  listening_score  writing_score
count     1004.000000    1004.000000      1004.000000    1004.000000
mean        61.128486      61.130478        61.176295      60.955179
std         21.245806      21.447841        21.411456      21.218819
min         23.000000      23.000000        23.000000      23.000000
25%         43.000000      43.000000        42.000000      43.000000
50%         60.500000      61.000000        60.000000      60.000000
75%         78.000000      79.000000        80.000000      79.250000
max        100.000000     100.000000       100.000000     100.000000

Missing values per column:

speaking_score     0
reading_score      0
listening_score    0
writing_score      0
overall_cefr       0
dtype: int64

Number of duplicate rows: 0